---
title: Blog
subtitle: Maybe someday
description: Maybe I'll get motivated enough to write about things. Maybe about crazy things I've seen in programming.
pagination:
  data: collections.posts
  size: 12
  alias: pagedPosts
  reverse: true
permalink: "/blog/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber + 1 }}/{% endif %}index.html"
---

<p>
  See <a href="/blog/tags/">all tags</a>.
</p>
{% import "macros/paginated.njk" as paginated %}
{{ paginated.navigation(page, pagination) }}
{% set postslist = pagedPosts %}
{% include "templates/posts-list.njk" %}
