<!DOCTYPE html>
<html lang="en">
      <head>
            <meta charset="utf-8">
            <meta http-equiv="x-ua-compatible" content="ie=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta name="keywords" content="{{ tags }}" />
            {# Embed meta #}
            <meta name="description" content="{{ description }}">
            <meta property="og:url" content="https://atora.dev/">
            <meta property="og:type" content="website">
            <meta property="og:title" content="{{ title }}">
            <meta property="og:description" content="{{ description }}">
            <meta property="og:image" content="/resources/images/feather.png">
            <meta property="og:locale" content="en_US">
            <meta name="twitter:card" content="{{ description }}">
            <meta name="twitter:creator" content="@AtoraSuunva">
            <meta name="twitter:url" content="https://atora.dev">
            <meta name="twitter:title" content="{{ title }}">
            <meta name="twitter:description" content="{{ description }}">
            <meta name="twitter:image" content="/resources/images/feather.png">
            <meta name="theme-color" content="#88927B">
            {# Favicons #}
            <link rel="apple-touch-icon"
                  sizes="180x180"
                  href="/resources/favicon/apple-touch-icon.png">
            <link rel="icon"
                  type="image/png"
                  sizes="32x32"
                  href="/resources/favicon/favicon-32x32.png">
            <link rel="icon"
                  type="image/png"
                  sizes="16x16"
                  href="/resources/favicon/favicon-16x16.png">
            <link rel="manifest" href="/resources/favicon/site.webmanifest">
            {# Stylesheets #}
            <link rel="preload" href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" as="style" />
            <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto&display=swap">
            <link rel="preload" href="/resources/styles/styles.css" as="style" />
            <link rel="stylesheet" href="/resources/styles/styles.css">
            <title>{{ title }} | atora.dev</title>
      </head>
      <body>{% block content %}{% endblock %}</body>
</html>
