<footer class="dark-stripes">
  <p>Atora - 2023</p>
  <p><a href="https://github.com/AtoraSuunva/atora.dev/blob/{{ env.COMMIT_SHA }}/{{ page.inputPath }}">{{ env.BRANCH }}/{{ env.COMMIT_SHA.slice(0, 7) }}</a> - <a href="https://github.com/AtoraSuunva/atora.dev/blob/main/{{ page.inputPath }}">Edit on GitHub</a></p>
</footer>
