<nav>
  <img aria-hidden="true"
       src="/resources/images/feather.png"
       height="32"
       width="32"
       alt="">
  <input type="checkbox" id="nav-toggle" name="nav-toggle">
  <label for="nav-toggle">
    <div class="hamburger-icon"></div>
  </label>
  <ul role="navigation" aria-label="Site Sections" class="show">
    <li class="selected">
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/projects">Projects</a>
    </li>
    <li>
      <a href="/blog">Blog</a>
    </li>
    <li>
      <a href="/bots">Bots</a>
    </li>
    <li>
      <a href="/about">About</a>
    </li>
    <li>
      <a href="/contact">Contact</a>
    </li>
  </ul>
</nav>
