{% extends "templates/page.njk" %}
{%- block headerTail -%}
  <div class="post-metadata">
    <div>
      Posted: <time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
    </div>
    <div>
      Tags:
      {% import "macros/tags.njk" as tagMacro %}
      {{ tagMacro.tagList(tags) }}
    </div>
  </div>
{%- endblock -%}
{%- block mainAttributes -%}
  class="post-content"
{%- endblock -%}
{%- block main -%}
  {% if image %}
    {% postpicture image, imageAlt %}
  {% endif %}
  {{ content | safe }}
  {%- if collections.posts %}
    {%- set previousPost = collections.posts | getPreviousCollectionItem %}
    {%- set nextPost = collections.posts | getNextCollectionItem %}
    {%- if nextPost or previousPost %}
      <ul class="links-nextprev">
        {%- if previousPost %}
          <li>
            Previous: <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a>
          </li>
        {% endif %}
        {%- if nextPost %}
          <li>
            Next: <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a>
          </li>
        {% endif %}
      </ul>
    {%- endif %}
  {%- endif %}
{%- endblock -%}
