{% import "macros/tags.njk" as tagMacro %}
{% macro card(title, description, date, link, linkText, image, imageAlt, icon, iconAlt, tags) -%}
  <article class="card">
    {% if icon and icon.includes('.') %}
      {% picturesync icon, iconAlt, "card-icon", [100, 200] %}
    {% elseif icon %}
      <div class="card-icon">{{- icon -}}</div>
    {% endif %}
    <div class="card-content">
      <div class="card-main">
        <div class="card-text">
          <h3>
            {{ title }}{%- if date -%}<small><time datetime="{{ date | htmlDateString }}">{{ date | readableDate }}</time></small>{%- endif -%}
          </h3>
          {% if tags -%}
            {{ tagMacro.tagList(tags, 3) }}
          {% endif -%}
          <p>{{ description }}</p>
        </div>
        {% if image -%}
          {% picturesync image, imageAlt, "card-image", [320, 640] %}
        {% endif -%}
      </div>
      {% if link -%}<a class="link-button" href="{{ link }}">{{ linkText or link }}</a>{%- endif %}
      </div>
    </article>
  {%- endmacro %}
