{%- macro tagLink(tag, tagUrl) -%}
  <a href="{{ tagUrl }}" class="post-tag">#{{ tag }}</a>
{%- endmacro -%}
{%- macro tagList(tags, showMax = 99) -%}
  <ul class="post-tags">
    {% set shownTags = tags | filterTagList -%}
    {% for tag in (shownTags | head(showMax)) -%}
      {%- set tagUrl -%}/blog/tagged/{{ tag | slugify }}/
      {%- endset -%}
      <li>{{ tagLink(tag, tagUrl) }}</li>
    {%- endfor -%}
    {% if (shownTags | length) > showMax -%}
      <li><span>+{{ shownTags | length - showMax }} more</span></li>
    {% endif -%}
  </ul>
{%- endmacro -%}
