---
import { getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import { isPublishedPost } from "@utils/collections";

const posts = await getCollection("blog").then((c) =>
  c.filter((p) => isPublishedPost(p)),
);
const uniqueTags = [...new Set(posts.flatMap((p) => p.data.tags ?? []))];

const postsByTag = uniqueTags
  .map((tag) => ({
    tag,
    posts: posts.filter((post) => post.data.tags?.includes(tag)),
  }))
  .sort((a, b) => b.posts.length - a.posts.length);
---

<PageLayout
  head={{
    title: "All Tags",
    description: "All tags used in the blog",
  }}
  subtitle={`${uniqueTags.length} tag${uniqueTags.length === 1 ? "" : "s"}`}
>
  <p slot="headerTail">
    <a href="/blog/">See all posts</a>
  </p>

  <ul>
    {
      postsByTag.map(({ tag, posts }) => (
        <li>
          <a href={`/blog/tags/${tag}/`}>
            {tag} ({posts.length})
          </a>
        </li>
      ))
    }
  </ul>
</PageLayout>
