---
layout: templates/base.njk
permalink: index.html
title: Index
description: AtoraSuunva's site
---

{% include "templates/nav.njk" %}
<main>
  <section class="center-piece">
    <div>
      <h1>
        Atora Suunva <small>(they/he)</small>
      </h1>
      <h2>Who am I?</h2>
      <p>Heya, I'm Atora Suunva, software developer and person on the internet.</p>
      <p>I've been writing code for 10+ years, which was first my hobby, then education, then job.</p>
      <p>
        While I do love programming, I also do things like play games or go outside or go for long walks on the beach unironically.
      </p>
      <p>This site is a showcase of things I've done along with a place for me to post things.</p>
      <p>
        Scroll down to see some of my <a href="/posts">posts</a> and <a href="/projects">projects</a>, or read more <a href="/about">about me</a> or how to <a href="/contact">contact me</a>.
      </p>
    </div>
    <div>{% image "../public/resources/images/feather.png", "Atora Suunva", [128] %}</div>
  </section>
  <section>
    <h2>Recent Posts</h2>
    <article class="post-preview">
      <h3>
        <a href="/blog/test-post-please-ignore">Test Post Please Ignore</a> <small>2023-01-01</small>
      </h3>
      <p>This is an example post please ignore it.</p>
    </article>
    <article class="post-preview">
      <h3>
        <a href="/blog/how-bad-is-inefficiency">How *bad* is inefficiency?</a> <small>2023-02-02</small>
      </h3>
      <p>How far can you push an O(2^n) algorithm?</p>
    </article>
    <article class="post-preview">
      <h3>
        <a href="/blog/api-follies">API follies</a> <small>2023-02-02</small>
      </h3>
      <p>Help.</p>
    </article>
  </section>
  <section>
    <h2>Recent Projects</h2>
    <article class="project-preview">
      <h3>This site!</h3>
      <p>
        A static site built with <a href="https://www.11ty.dev">Eleventy</a>, hosted on <a href="https://pages.cloudflare.com/">Cloudflare Pages</a>
      </p>
    </article>
    <article class="project-preview">
      <h3>SmolBot</h3>
      <p>
        A moderation and utility bot for Discord, containing various tools I've needed over the years. <a href="https://github.com/AtoraSuunva/smolbot">View on GitHub</a>
      </p>
    </article>
  </section>
</main>
{% include "templates/footer.njk" %}
