---
import type { MarkdownLayoutProps } from "astro";
import BaseLayout from "./BaseLayout.astro";

type BaseLayoutProps = Parameters<typeof BaseLayout>[0];

type Props = MarkdownLayoutProps<
  BaseLayoutProps & {
    subtitle: string;
  }
>;

const { frontmatter } = Astro.props;
const { head, subtitle } = frontmatter;
const { title, description } = head;
---

<BaseLayout head={head}>
  <Fragment slot="header">
    <h1 class="title">
      {title}
      <small>{subtitle}</small>
    </h1>
    {description && <p class="description">{description}</p>}
    <slot name="headerTail" />
  </Fragment>

  <slot />
</BaseLayout>
