---
import type { MarkdownLayoutProps } from "astro";
import BaseLayout from "./BaseLayout.astro";

type BaseLayoutProps = Parameters<typeof BaseLayout>[0];

type PageProps = BaseLayoutProps & {
  subtitle?: string;
};
type MDProps = MarkdownLayoutProps<PageProps>;

type Props = PageProps | MDProps;

const { subtitle } =
  (Astro.props as PageProps) ?? (Astro.props as MDProps).frontmatter;
const { head } =
  (Astro.props as MDProps).frontmatter ?? (Astro.props as PageProps);
const { title, description } = head;
---

<BaseLayout head={head}>
  <Fragment slot="header">
    <h1 class="title">
      {title}
      {subtitle && <small>{subtitle}</small>}
    </h1>
    {description && <p class="description">{description}</p>}
    <slot name="headerTail" />
  </Fragment>

  <slot />
</BaseLayout>
